@model IEnumerable<SistemaDeGerenciamentoDeClientesMvc.Models.Cliente>

@{
    ViewData["Title"] = "Visualizar Clientes";
}

<h1>Visualizar Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Cliente">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Cliente">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>
